/*General---------------------------------------------------------------*/
header, main, aside {
    display: flex;
    flex-direction: column;
}

/*Header----------------------------------------------------------------*/
header, nav {
    align-items: center;
}
/*Nav-------------------------------------------------------------------*/
nav ul {
    display: flex;
    flex-direction: row;
}
/*Main------------------------------------------------------------------*/

/*Aside-----------------------------------------------------------------*/

/*Medias----------------------------------------------------------------*/
@media screen and (max-width: 720px){
    aside {
        display: none;
    }
}
