/*General---------------------------------------------------------------*/
header, main, aside {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3%;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Header----------------------------------------------------------------*/
header, nav {
    align-items: center;
    display: inline-block;
    width: 100%;
}

h1{
    font-size: 2em;
    color: black;
    margin: 1em auto;
    text-align: center;
}

/*Nav-------------------------------------------------------------------*/
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em  25% ;
    border-top: solid 1px #DADADA;
    border-bottom: solid 1px #DADADA;


}


nav ul a{
    text-decoration: none;
    color: #2497ff;
}

/*Main------------------------------------------------------------------*/
h2, h3{

    color: black;
    font-weight: bold;

}

h2{
    font-size: 1.5em;
    margin-top: 2em;
}

h3{
margin: 1em 0;

}


/*Aside-----------------------------------------------------------------*/

/*Medias----------------------------------------------------------------*/
@media screen and (max-width: 720px){
    aside {
        display: none;
    }
}

@media screen and (min-width: 720px){
    header, aside{
        width: 27%;
        display: inline-block;
    }
    main {
        width: 44%;
        display: inline-block;
    }

    header, aside, main {
        vertical-align: top;
    }

    aside section h3 {
        margin-top: 3em;
        margin-bottom: 1.5em;
    }

    aside ul li {
            list-style: initial;
            margin: 5% 0 8% 25%;
    }

    aside a {
        text-decoration: none;
        color: #2497ff;
    }

    nav ul {
        flex-direction: column;
        padding: 1em 0;
        text-align: right;
    }

    nav li {
        margin: 2% 0;
    }


}
