/*General--------------------------------------------------------------------*/
body {
    /* font-size: 1em; */
}
header, main, footer {
    font-family: Questrial;
    width: 100%;

}

/*Header--------------------------------------------------------------------*/
header {
    background-color: #2056ac;
    color: white;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-top: 10%;
}

header i {
    font-size: 4em;
    margin-bottom: 0.2em;
}

header h1 {
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 4%;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

header a {
    text-decoration: none;
    color: white;
}

header li {
    margin: 2%;
    text-transform: capitalize;
    font-size: 0.8em;
}

header li:hover a {
    color: #2056ac;
    z-index: 1;
}

header li:hover {
    padding: 2%;
    margin: 0;
    background-color: white;
    border-radius: 10px 10px 0 0;
}
/*Main----------------------------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;

}

main section:nth-of-type(1){
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3% 0;
}
img {
    width: 100%;


}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 2% 0;
    text-align: center;
    margin: 7% 0;
}

main section:nth-of-type(1) p{

    font-size: 0.8em;
    padding: 3%;

}
hr{
    color: #EDEDEE;
    width: 100%;
    border: solid 1px;
    margin-top: 10%;
}

/*Section article-----------------------------------------------------------*/

.section_big {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section_big article {
    text-align: center;
}

.section_big h3 {
    margin: 15% 0 4% 0;
    font-weight: bold;
    font-size: 1.4em;
}

.section_big p {
    font-size: 0.8em;
    margin-bottom: 10%;
}

.section_big a {
    text-transform: capitalize;
    border: solid 1px #64abd1;
    text-decoration: none;
    background-color:#64abd1;
    color: white;
    padding: 2%;
}

.
/*Section little article----------------------------------------------------*/

.section_little {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section_little article {
    text-align: center;
}

.section_little h4 {
    margin: 15% 0 4% 0;
    font-weight: bold;
    font-size: 1em;
}

.section_little p {
    font-size: 0.8em;
    margin-bottom: 10%;
}

.section_little a {
    text-transform: capitalize;
    border: solid 1px #64abd1;
    text-decoration: none;
    background-color:#64abd1;
    color: white;
    padding: 2%;
}

/*Section contact-----------------------------------------------------------*/

.contact {
    background-color: #e3f0f7;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
}

.contact a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #5b6063;
}

.contact i {
    font-size: 2em;
    margin-bottom: 5%;
}

/*Footer--------------------------------------------------------------------*/



/* Media --------------------------------------------------------------------*/
/* .section_big {
    display: flex;
    justify-content: center;
}

.section_big article {
    width: 32%;
    text-align: center;
}

.section_big article p {
    padding: 5%;
}

.section_big article h3 {
    font-weight: bold;
    font-size: 1.5em;
} */
/* @media screen and (max-width:480px) {
    header, main, footer {
        font-size: 1rem;
    }

} */
