/*General--------------------------------------------------------------------*/
body {
    /* font-size: 1em; */
}
header, main, footer {
    font-family: Questrial;
    width: 100%;

}

/*Header--------------------------------------------------------------------*/
header {
    background-color: #2056ac;
    color: white;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-top: 10%;
}

header i {
    font-size: 4em;
    margin-bottom: 0.2em;
}

header h1 {
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 4%;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

header a {
    text-decoration: none;
    color: white;
}

header li {
    margin: 2%;
    text-transform: capitalize;
    font-size: 0.8em;
}

header li:hover a {
    color: #2056ac;
    z-index: 1;
}

header li:hover {
    padding: 2%;
    margin: 0;
    background-color: white;
    border-radius: 10px 10px 0 0;
}
/*Main----------------------------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;

}

main section:nth-of-type(1){
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3% 0;
}
img {
    width: 100%;


}

h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 2% 0;
    text-align: center;
    margin: 7% 0;
}

main section:nth-of-type(1) p{

    font-size: 0.8em;
    padding: 3%;

}
hr{
    color: #EDEDEE;
    width: 100%;
    border: solid 1px;
}

/*Section article-----------------------------------------------------------*/

/*Section little article----------------------------------------------------*/

/*Section contact-----------------------------------------------------------*/

/*Footer--------------------------------------------------------------------*/



/* Media --------------------------------------------------------------------*/

/* @media screen and (max-width:480px) {
    header, main, footer {
        font-size: 1rem;
    }

} */
